.boxContainer {
	font-family: "Maven Pro", sans-serif;
}
.table {
	padding: 50px 200px 0 200px;
}
.inputGroup {
	margin: 50px;
	display: flex;
	justify-content: center;
}
.input {
    margin: 5px 0 0 10px;
}
